
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-image: url("img/historical.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #7f5a83;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #7f5a83;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #9b6f9e;
}

main {
    padding: 100px;
    text-align: center;
}
section {
    margin-top: 10px;
}
.center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-primary {
    background-color: #9b6f9e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #7f5a83;
}

footer {
    background-color: #7f5a83;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}